<div class="container">
  <div class="row py-4">
    <div class="col-12">
      <h1>Graphs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <%= pie_chart(
              {
                "Unknown" => @browser_stats[:chrome][:unknown],
                "True" => @browser_stats[:chrome][:yes],
                "False" => @browser_stats[:chrome][:no],
                "No data" => @browser_stats[:chrome][:no_data]
              },
              title: "Chrome",
              donut: true
            ) %>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <%= pie_chart(
              {
                "Unknown" => @browser_stats[:firefox][:unknown],
                "True" => @browser_stats[:firefox][:yes],
                "False" => @browser_stats[:firefox][:no],
                "No data" => @browser_stats[:firefox][:no_data]
              },
              title: "Firefox",
              donut: true
            ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
