<footer class="site-footer">
  <ul>
    <li>
      Built with data from <%= "v#{Rails.configuration.mdn_bcd_version}" %> of the <%= link_to "MDN Browser Compatability Data", "https://github.com/mdn/browser-compat-data" %> project.
    </li>
    <li>
      <%= link_to "View source", "https://github.com/connorshea/mdn-compat-data-explorer" %>
    </li>
    <li>
      <%= link_to "Report an issue", "https://github.com/connorshea/mdn-compat-data-explorer/issues" %>
    </li>
  </ul>
</footer>
