@import "bootstrap";

$site-header: 65px;
$site-footer: 65px;

.container {
  min-height: calc(100vh - #{$site-footer} -  #{$site-header});
}

.site-header {
  height: $site-header;
  padding: 20px 25px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;

  ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
  }

  li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;

    &.active {
      font-weight: 600;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.site-footer {
  min-height: $site-footer;
  height: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;

  ul {
    text-align: center;
    margin: auto;
    -webkit-padding-start: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.browser-table {
  td.release-notes a {
    text-decoration: none;
  }
}

.features-table {
  td {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  th.browser-column {
    width: 80px;
  }

  th.mdn-column {
    width: 80px;
  }

  th {
    font-weight: 400;
  }
}

.feature-card {
  width: 100%;
}

.card-no-overflow {
  overflow: hidden;
}

@include media-breakpoint-up(lg) {
  .sticky-column {
    position: sticky;
    top: 20px;
    align-self: flex-start;

    .card ul {
      max-height: calc(100vh - 100px);
      overflow-y: auto;
    }
  }
}

abbr.icon {
  text-decoration: none;
}

td.bg-true {
  background-color: #e4f8e1;
}

td.bg-false {
  background-color: #f8e1e1;
}

td.bg-unknown {
  background-color: #eee;
}

td.bg-partial {
  background-color: #fff3d4;
}

td.browser-support-info {
  position: relative;

  &.more-info-available {
    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "?";
      font-weight: 600;
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
}

.popover {
  max-width: 500px;

  p {
    margin-bottom: 0;
  }

  p ~ p {
    margin-top: 8px;
  }
}
