@import "bootstrap";

$site-header: 65px;
$site-footer: 65px;

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 25px;
  min-height: calc(100vh - #{$site-footer} -  #{$site-header});
}

.site-header {
  height: $site-header;
  padding: 20px 25px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;

  ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
  }

  li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;

    &.active {
      font-weight: 600;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.site-footer {
  height: $site-header;
  padding: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;

  ul {
    text-align: center;
    margin: auto;
  }

  li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.browser-table {
  .browser-table-name-row {
    background-color: #f2f2f2;
    text-align: center;
  }

  td.release-notes a {
    text-decoration: none;
  }
}

.features-table {
  td {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  th.browser-column {
    width: 80px;
  }

  th.mdn-column {
    width: 80px;
  }

  th {
    font-weight: 400;
  }
}

@include media-breakpoint-up(lg) {
  .sticky-column {
    position: sticky;
    top: 20px;
    align-self: flex-start;

    .card ul {
      max-height: calc(100vh - 100px);
      overflow-y: auto;
    }
  }
}
