<% content_for :title, @feature.name %>

<div class="container">
  <div class="row py-4">
    <div class="col-12">
      <h1><%= @feature.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'feature_card', feature: @feature, browsers: @browsers %>
    </div>
  </div>

  <% unless @subfeatures.count.zero? %>
    <div class="row mt-5">
      <div class="col-12">
        <h3>Subfeatures</h3>
        <% @subfeatures.each do |subfeature| %>
          <%= render 'feature_card', feature: subfeature, browsers: @browsers %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
